<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{:config('app_name')}</title>
    {load href='__MODULE__/bootstrap-3.4.1-dist/css/bootstrap.css'}
</head>
<body>
<header class="container-fluid">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">菜鸟教程</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        </ul>
    </div>
</nav>
</header>
<main>

</main>
<footer>

</footer>
{load href='__MODULE__/jquery-3.3.1/jquery-3.3.1.js'}
{load href='__MODULE__/bootstrap-3.4.1-dist/js/bootstrap.js'}
</body>
</html>